pipeline/append variable.json
{
	"name": "append variable",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "marks",
					"value": {
						"value": "@int(90)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@variables('marks')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"marks": {
				"type": "Array",
				"defaultValue": [
					23,
					40,
					70,
					50
				]
			},
			"output": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}